<h2><%= @title %></h2>
<p><img src="../media/beeruplogo.png" alt="beerup"></p><br>
Navigate:
<ul id="nav">
	<li><a href="/new">Add new drink type</a></li>
	<li><a href="/orders">Look at orders</a></li>
	<li><a href="/list">See all drink types</a></li>
</ul>