<h2><%= @title %></h2>

<form action="/create" method="post" id="dink" enctype="multipart/form-data">
	<p>
		<label>Drink:</label><br	/>
		<input type="text" name="drink_type" id="drink_type"	/>
	</p>
	<p>
		<label>Price in NOK:</label><br	/>
		<input type="number" name="price" id="price" min="1" max="200" step="1"/>
	</p>
	<p>
		<label>Image:</label><br	/>
		<input type="file" name="imagefile" id="imagefile" />
	</p>
	<p>
	You can choose to add a normal photo. <br>
	You can also choose to add a 3D image in OBJ format, and then make it appear as an Augmented Reality object in the BeerUp App. <br>
	To do this, follow this steps:
	<ul id="nav">
		<li>1. Go to <a href="http://www.smoothie-3d.com/">Smoothie 3D</a> in your browser, and register if you haven't already. </li>
		<li>2. Choose homepage and then "New Project". </li>
		<li>3. Choose the “Image” tab, and “Add” to add an image to use as the background and pattern for your 3D-model. Choose an image of the drink that you are modeling. </li>
		<li>4. The image will be added to the background, and will be a little darkened compared to the original image. </li>
		<li>5. Choose the tool called “Mode to draw shapes by revolution”. The red line showing up in this mode should be placed on the middle of the drink. Drag and drop the line to get it aligned.  </li>
		<li>6. Move the cursor to the right side of it, and start drawing by using your left mouse button. You’ll have to hold the button down while drawing the whole model. </li>
		<li>7. When the drawing is finished, click “yes” to show the contour of the model.</li>
		<li>8. You’ll then see some dots in the line you drawed, which can be dragged to adjust the outline of the model. </li>
		<li>9. Place your cursor in the grey square in the top left corner, press down the left mouse button and move the cursor to rotate your model.</li>
		<li>10. Save the model, choose “Exchange” and then “Export to OBJ”. </li>
	</ul>
	For more detailed description with pictures for each step, press <a href="/detailed">here</a>.
	</p>
	<p>
		<input type="submit">
	</p>
</form>