<h2><%= @title %></h2>

<form action="/create" method="post" id="dink" enctype="multipart/form-data">
	<p>
		<label>Drink:</label><br	/>
		<input type="text" name="drink_type" id="drink_type"	/>
	</p>
	<p>
		<label>Price:</label><br	/>
		<input type="number" name="price" id="price" min="1" max="200" step="4"/>
	</p>
	<p>
		<input type="submit">
	</p>
</form>