<h2><%= @title %></h2>
<p><img src="../media/beeruplogo.png" alt="beerup" width=10%></p><br>
Navigate:
<ul id="nav">
	<li><a href="/form">Place an order</a></li>	
	<li><a href="/leaderboard">Leaderboard</a></li>
	<li><a href="/list">See all drink types</a></li>
	<li><a href="/display">See photos of all drinks</a></li>
</ul>