<h2><%= @title %></h2>
<img src="../media/beeruplogo.png" height=80 %><br>
Navigate:
<ul id="nav">
	<li><a href="/new">Add new drink type</a></li>
	<li><a href="/orders">Look at orders</a></li>
	<li><a href="/list">See all drink types</a></li>
	<li><a href="/form">Place an order</a></li>	
	<li><a href="/leaderboard">Leaderboard</a></li>
</ul>