<head>
	<style>
		body{
			background-color: #007100;
		}
	</style>
</head>
</ul>
<body>
	<p><img src="../media/beeruplogo.png" alt="beerup" id="adminlogo"></p><br>
	<h2 style="text-align: center;"> <%= @title %> </h2>
<ul id="nav">
	<li><a href="/new">Add new drink type</a></li>
	<li><a href="/orders">Look at orders</a></li>
	<li><a href="/list">See all drink types</a></li>

</body>



