<head>
</head>
<body>
	<p><img src="../media/beeruplogo.png" alt="beerup" id="adminlogo"></p><br>
	<h2 style="text-align: center;"> <%= @title %> </h2>
<ul id="nav">
	<li><a href="/new">Add new drink type</a></li>
	<hr style="opacity: 0.2; margin: 0;">
	<li><a href="/orders">Look at orders</a></li>
	<hr style="opacity: 0.2; margin: 0;">
	<li><a href="/deletedrinks">See or delete drinks</a></li>
</ul>
</body>



