<head>
    <style>
        
        #detailed{
			display: block;
            width: 85%;
            float: left;
            color: white;
            background-color: #358C35;
            padding-left: 2%;
            padding-right: 1%;
            margin-top: 5%;
            margin-left: 5%;
			}
			
			#detailed p{
			font-family: Open Sans, sans-serif;
			font-weight: 300;
			font-size: small;
			}
			
			p a{
				color: #e0e0e0;
				text-decoration: none;
			}
			
			p a:hover{
				text-decoration: underline;
			}
    
    </style>
</head>

<body>
    <p class="backto"><a href="/admin">Back to admin page</a></p>
    
    <div id="detailed">

        <h2><%= @title %></h2>
        <br>

        <h3>1</h3>
        <p> First of all, open you browser, preferably Google Chrome, and go to <a href=http://www.smoothie-3d.com/>smoothie-3D.com</a> </p>
        <br>
        <hr style="opacity: 0.2; margin: 0;">

        <h3>2</h3>
        <img src="/media/guide/1.png" width=50%/>
        <p>Choose “Register!” to register a user. This is necessary to start 3D-modelling. </p>
        <br>
    	<hr style="opacity: 0.2; margin: 0;">

        <h3>3</h3>
        <img src="media/guide/2.png" width=35%/>
        <p>Fill out the registration form with the required information. </p>
        <br>
    	<hr style="opacity: 0.2; margin: 0;">

        <h3>4</h3>
        <img src="media/guide/3.png"/ width=50%>
        <p> When registered, choose “Home page”.</p>
        <br>
    	<hr style="opacity: 0.2; margin: 0;">

        <h3>5</h3>
        <img src="media/guide/4.png" width=50%/>
        <p>Choose “New project” </p>
        <br>
    	<hr style="opacity: 0.2; margin: 0;">

        <h3>6</h3>
        <img src="media/guide/5.png" width=50%/>
        <p>This screen will then open. This is your project workspace. </p>
        <br>
    	<hr style="opacity: 0.2; margin: 0;">

        <h3>7</h3>
        <img src="media/guide/6.png" width=50%/>
        <p> This screen will then open. This is your project workspace.</p>
        <br>
    	<hr style="opacity: 0.2; margin: 0;">

        <h3>8</h3>
        <img src="media/guide/7.png" width=50%/>
        <p>The image will be added to the background, and will be a little darkened compared to the original image.
        <br>In this example, an image of a pint of beer is added. </p>
        <br>
    	<hr style="opacity: 0.2; margin: 0;">

        <h3>9</h3>
        <img src="media/guide/8.png" width=50%/>
        <p> Choose the tool called “Mode to draw shapes by revolution”, which looks like this:</p>
        <img src="media/guide/9.png"/>
        <p>The red line showing up in this mode should be placed on the middle of the drink. Drag and drop the line to get it aligned. </p>
        <br>
    	<hr style="opacity: 0.2; margin: 0;">

        <h3>10</h3>
        <img src="media/guide/10.png" width=50%/>
        <p>When the line is aligned, move the cursor to the right side of it, and start drawing by using your left mouse button.
        <br>You’ll have to hold the button down while drawing the whole model, but don’t worry if you’re not satisfied with the line, you’ll be able to change this in the next steps.  </p>
        <br>
    	<hr style="opacity: 0.2; margin: 0;">

        <h3>11</h3>
        <img src="media/guide/11.png"/>
        <p> When the drawing is finished, click “yes” to show the contour of the model.</p>
        <br>
    	<hr style="opacity: 0.2; margin: 0;">

        <h3>12</h3>
        <img src="media/guide/12.png" width=50%/>
        <p> You’ll then see some dots in the line you drawed, which can be dragged to adjust the outline of the model.
        <br>By clicking the “-” and “+”, you are also able to get fewer or more dots in the line to adjust it properly. </p>
        <br>
    	<hr style="opacity: 0.2; margin: 0;">

        <h3>13</h3>
        <img src="media/guide/13.png" width=50%/>
        <p> Place your cursor in the grey square in the top left corner, press down the left mouse button and move the cursor to rotate your model. 
        <br>If you’re not satisfied with the result, choose the model again and repeat the last two steps, or choose “remove” in the lower left corner and start to draw again.
        <br>If you’re satisfied with the result, move to the next step to save the model. </p>
        <br>
    	<hr style="opacity: 0.2; margin: 0;">

        <h3>14</h3>
        <img src="media/guide/14.png" width=50%/>
        <p> Choose “Exchange” and then “Export to OBJ”. </p>
        <br>

    </div>

</body>