<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500' rel='stylesheet' type='text/css'>
	
	<style>
		body{
			background-color: #007100;
		}
		
		#nav{
			background-color: #e0e0e0;
			height: auto;
			width: 40%;
			margin-top: 0;
			margin-left: auto;
			margin-right: auto;
			padding: 0;
		}
		
		
		#adminlogo {
			display: block;
			margin: auto;
			margin-bottom: -50px;
			width: 15%;
		}
		li{
			font-size: 150%;
			text-align: center;
			list-style: none;
			padding-top: 5%;
			padding-bottom: 5%;
		}
		
		li a{
			color: #303030;
			font-family: 'Ubuntu', sans-serif;
			font-weight: 300;
			text-decoration: none;
			display: block;
		}
		
		li:hover {
			background-color: #f0f0f0;
		}
	
		
		h2 {
			color: white;
			font-family: 'Ubuntu', sans-serif;
			font-size: x-large;
			font-weight: 400;
		}
		
	</style>
	<link rel="icon" 
      type="image/png" 
      href="/media/beeruplogo.png" />
</head>
<body>

<h1>BeerUp</h1>

  <%= yield %>
  
</body>
</html>
