<head>
	
</head>

<body>
	<p><img src="../media/beeruplogo.png" alt="beerup" id="logo"></p><br>
	<h2 style="text-align: center;"> <%= @title %> </h2>
	<ul id="nav">
		<li><a href="/form">Place an order</a></li>
			<hr style="opacity: 0.2; margin: 0;">
		<li><a href="/leaderboard">Leaderboard</a></li>
			<hr style="opacity: 0.2; margin: 0;">
		<li><a href="/list">See all drink types</a></li>
	</ul>

</body>



